[Desktop Entry]
Name=Get Zen
Comment=Zen Browser installer with GearLever
Exec=get-zen
Icon=get-zen
Type=Application
Categories=Utility;Network;
Keywords=zen;browser;installer;
StartupNotify=true
